.appbanner
  .inner
    %h2.inner__title だれでもかんたん、学習で人生を変えるアプリ
    %p.inner__text 今すぐ無料ダウンロード！
    .inner__icon
      =link_to "#" do
        =image_tag "app_store.png", class: "aBtn", height: "54px", width: "190px"
      =link_to "#" do
        =image_tag "google_play.png", class: "gBtn", height: "54px", width: "190px"
