.footer
  %ul.contents
    %li.content
      %h2.content_head Notaについて
      %ul
        %li
          =link_to  "会社概要（運営会社）"
        %li
          =link_to  "プライバシーポリシー"
        %li
          =link_to  "Nota利用規約"
    %li.content
      %h2.content_head Notaを見る
      %ul
        %li
          =link_to  "学年一覧"
        %li
          =link_to  "科目一覧"
    %li.content
      %h2.content_head ヘルプ＆ガイド
      %ul
        %li
          =link_to  "Notaガイド"
        %li
          =link_to  "お問い合わせ"
        %li
          =link_to  "お知らせ"
        - if user_signed_in?
          - if current_user == @user || current_user.admin?
            %li
              =link_to  "管理者", admin_root_path
  .footer_logo
    =link_to root_path do
      %p © Nota