.appbanner{
  background-image: image-url("appbanner.jpg");
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;

  .inner{
    text-align: center;
    color: #ffffff;

    &__title{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text{
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }

    &__icon {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      img {
        width: 180px;
        padding-right: 10px;
      }
    }
  }
}