.main{
  &-search{
    width: 15vw;
    margin: 20px 8px;

    &_info{
      font-size: 18px;
      padding: 5px 0;
    }

    &_form{
      &:hover {
        filter: opacity(0.6);
      }
    }
  }

  .note_search{
    padding: 30px 30px;
    border: solid 1px;
    background-color: #ffffff;
  }

  .field{
    padding: 10px 0;
  }
  .search_form_btn{
    margin-left: 50px;
    &:hover {
      filter: opacity(0.6);
    }
  }
  background-color: #f8f8f8;
  &-detail_search_images{
    background-color: #ffffff;
    width: 85%;
    padding: 20px 30px;
    margin: 20px 20px;
    border: solid 1px;
    background-color: #ffffff;
    display: flex;
    flex-wrap:wrap;
    height: 80vh;
    overflow: scroll;
    &_image{
      width:25%;
      margin-top: 15px;
      &:hover {
        filter: opacity(0.6);
      }
      img:active {
        zoom: 1.8;
      }
    }
  }
}