.header{
  background-color: skyblue;
  &_main{
    display: flex;
    padding-top: 18px;
    justify-content: center;

    &__left p{
      font-size: 28px;
      padding-right: 50px;
    }

    &__center{
      .search_form_input{
        width: 40vw;
        height: 30px;
        border: solid 1px;
      }
      .search_form_btn{
        font-size: 15px;
        background-color: sandybrown;
      }
    }

    &__right{
      margin-left: 25px;
      margin-top: 3px;
      .search_detail{
        border: solid 2px;
        padding: 5px;
        background-color: sandybrown;
      }
    }
  }
  &_sub{
    display: flex;
    margin-top: 15px;
    justify-content: flex-end;
    margin-right: 300px;

    &__register{
      padding-left: 20px;
    }
  }
}